
.danmu {
	color: #fff;
	line-height: 31px;
	z-index: 6;
	padding: 0 4px;
}
.dm-loding {
  color: #8715EF;
}
.dm-left {
	position: absolute;
	will-change: transform;
	right: 0;
	font-size: 24px;
	animation: dmleft 10s linear;
	-webkit-animation: dmleft 10s linear;
	cursor: pointer;
	white-space: nowrap;
	text-shadow: #000 0 2px 0;
}

.dm-top {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	white-space: nowrap;
	text-shadow: #000 0 2px 0;
	font-size: 22px;
}

@keyframes dmleft {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%)
	}
}

@-webkit-keyframes dmleft {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%)
	}
}

#danmu {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	left: 0px;
	overflow: hidden;
}

.dm-send {
	display: none;
	position: absolute;
	bottom: 10%;
	left: 50%;
	width: 60%;
	height: 35px;
	border-radius: 5px;
	margin: 0 0 0 -30%;
	text-align: center;
	padding: 4px 0;
	background-color: rgba(255, 255, 255, 0.79);
	z-index: 6;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.dm-tucao {
	position: relative;
	top: -12px;
	width: 50%;
	display: inline-block;
	line-height: 20px;
	border: none;
	background-color: transparent;
	outline: none;
}

.dm-post {
	position: relative;
	display: inline-block;
	top: -13px;
	left: 20px;
	background-color: #8715EF;
	color: #fff;
	border: 0px solid #000;
	line-height: 20px;
	border-radius: 4px;
	padding: 3px 20px;
}

.dm-logo-small {
	width: 114px;
	height: 35px;
	background-image: url(logo-small.png);
	display: inline-block;
}

.dm-video-main {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #000;
}

.dm-video {
	background-color: #000;
	height: 100%;
	width: 100%;
}

.video-con {
	opacity: 0;
	transition: opacity 1s;
	-moz-transition: opacity 1s;
	/* Firefox 4*/
	-webkit-transition: opacity 1s;
	/* Safari and Chrome*/
	-o-transition: opacity 1s;
	/* Opera*/
}

.video-control {
	position: absolute;
	bottom: -5px;
	padding-bottom: 10px;
	left: 0px;
	width: 100%;
	height: 45px;
	background: linear-gradient(rgba(0, 0, 0, 0),rgba(0,0,0,0.8));
	color: #fff;
	line-height: 0px;
	user-select: none;
	z-index: 999;
}

.dm-icon {
	position: relative;
	top: 6px;
	padding-left: 10px;
	padding-right: 2px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	fill: #fff;
}

.dm-dmk {
	position: relative;
	display: inline-block;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 50%;
	width: 22px;
	height: 22px;
	line-height: 22px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}

.dm-dmk-c {
	color: #000 !important;
	border: none !important;
	background-color: #fff;
}

.dm-syk {
	padding: 10px 10px;
	position: relative;
	display: inline-block;
	color: #fff;
}
/*ranger*/
input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	margin: -1.05px 0;
	border-radius: 10px;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 11.1px;
	cursor: pointer;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
	border-radius: 3px;
	border: 0.2px solid rgba(0, 1, 1, 0);
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
	height: 9px;
	width: 16px;
	border-radius: 3px;
	background: rgba(0,0,0,0.4);
	cursor: pointer;
	-webkit-appearance: none;
}

#tranger {
	position: relative;
	height: 11px;
	background-color: rgba(0, 0, 0, 0.17);
	border-radius: 6px;
	cursor: pointer;
	overflow: hidden;
	margin-top: 18px;
	padding: 0 5px;
	margin-left: 80px;
	margin-right: 170px;
}

.tranger-a {
	position: relative;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.4);
	height: 100%;
	width: 100%;
	border-radius: 6px;
	z-index: 3;
}

.tranger-b {
	position: relative;
	display: inline-block;
	background-color: #FFFFFF;
	height: 100%;
	width: 11px;
	border-radius: 50%;
	right: 7px;
}

.tranger-c {
	position: absolute;
	top: 0px;
	width: 0%;
	height: 100%;
	background-color: rgba(207, 198, 198, 0.47);
	border-radius: 6px;
	z-index: 2;
	overflow: hidden;
}

.dm-syk-ico {
	position: relative;
	top: 2px;
}

#dm-syk-range {
	width: 1px;
	display: block;
	overflow: hidden;
	opacity: 0;
	margin-left: 14px;
	transition: all 1s;
	-webkit-transition: all 1s
}
/*loding*/
.dm-oneplay {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 200px;
	height: 200px;
}

.dm-spinner {
	margin: 100px auto;
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;
	position: absolute;
	top: 40%;
	left: 46%;
	z-index: 7;
	display: none;
}

.dm-suspend {
	-webkit-animation-play-state: paused !important;
	animation-play-state: paused !important;
}

.md-iframe {
	display: none;
}

.dm-place2 {
	background-color: #3b3b3b;
	margin: 2px 0 4px 0;
	color: #fff;
	cursor: pointer;
}

.dm-spinner > div {
	background-color: #fff;
	height: 100%;
	width: 6px;
	display: inline-block;
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.dm-spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.dm-spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.dm-spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.dm-spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% {
		-webkit-transform: scaleY(0.4)
	}

	20% {
		-webkit-transform: scaleY(1.0)
	}
}

@keyframes sk-stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}

	20% {
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}

:-webkit-full-screen .dm-video-main {
	height: 100% !important;
	width: 100% !important;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

:-moz-full-screen .dm-video-main {
	height: 100% !important;
	width: 100% !important;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

:-ms-fullscreen .dm-video-main {
	height: 100% !important;
	width: 100% !important;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

:-full-screen .dm-video-main {
	height: 100% !important;
	width: 100% !important;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

:fullscreen .dm-video-main {
	height: 100% !important;
	width: 100% !important;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.tp-con {
	position: absolute;
	top: -90px;
	display: none;
	width: 150px;
	margin: 0px auto;
	padding: 6px;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 6px;
	overflow: hidden;
}

.tp-color {
	display: inline-block;
	margin-right: 2px;
	border-radius: 4px;
	cursor: pointer;
}

div#tp-color-warp {
	height: 60px;
	padding-right: 16px;
	overflow: overlay;
}

.tp-color-main {
	width: 20px;
	height: 20px;
	border: 1px solid #8b8585;
	border-radius: 2px;
}

.tp-color-bo {
	position: relative;
	bottom: 8px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #8b8585;
}

.tp-place {
	text-align: center;
	padding-bottom: 4px;
}

.dm-rightmenu {
	display: none;
	position: absolute;
	width: 130px;
	border: 1px solid #EEEEEE;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	z-index: 9999;
}

.dm-rightmenu a {
	color: #fff;
	text-decoration: none;
}

.dm-rightmenu li {
	padding: 2px 5px;
	cursor: pointer;
}

.dm-rightmenu li:hover {
	padding-left: 7px;
	background-color: rgba(255,255,255,0.2);
}

.tp-speend {
	display: none;
	margin: 4px 0 4px 30px;
}
	