/*acfun*/
.vdown {
    width: 110px;
    margin: 0;
    padding: 20px 10px;
    cursor: pointer;
    position: relative;
}
section.crumb .vdown .ico {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
}
section.player{
	position: relative;
	min-height:653px;
}
#vdown {
	position: absolute;
	z-index: 5;
	width: 300px;
	background: #fff;
	border: 1px solid #eee;
	border-radius: 5px;
	margin-left: -150px;
	left: 160px;
	padding: 20px 10px;
	box-shadow: 0 3px 8px rgba(0,0,0,0.1);
	background-color: #fff;
	overflow: hidden;
}
.down-btn, .down-btn>a {
	color: #fff;
	text-decoration: none;
}
.down-btn {
	display: inline-block;
	margin: 10px 5px;
	padding: 5px 10px;
	border-radius: 5px;
	background-color: #d07878;
	box-shadow: 1px 1px 5px #b5b5b5;
	text-align: center;
}
/*player*/
.tdplayer{
	height: 100%;
	width: 100%;
}
.tp-video-warp{
	min-height: 653px;
}
.video-end {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 8;
	background: #000 url(img/tdlogo.png) no-repeat right 40px bottom 30px;
	display: none;
	opacity: 1;
	animation: tpshow 3s;
	-webkit-animation:tpshow 3s;
}
@keyframes tpshow
{
	from {opacity: 0}
	to {opacity: 1}
}
@-webkit-keyframes tpshow
{
	from {opacity: 0}
	to {opacity: 1}
}
.video-end>.replay {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -50px;
	transition:transform 2s;
	-moz-transition:transform 2s;
	-webkit-transition:transform 2s;
}
.video-end>.replay:hover {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
}
.danmu {
	color: #fff;
	line-height: 31px;
	z-index: 6;
	padding: 0 4px;
	font-family: Avenir Next,Helvetica,Arial,Lantinghei SC,Microsoft YaHei,sans-serif;
}
.tp-left {
	position: absolute;
	will-change: transform;
	right: 0;
	font-size: 24px;
	animation: dmleft 10s linear;
	-webkit-animation: dmleft 10s linear;
	cursor: pointer;
	white-space: nowrap;
	text-shadow: #000 0 2px 0;
}
.tp-top {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	white-space: nowrap;
	text-shadow: #000 0 2px 0;
	font-size: 22px;
}
@keyframes dmleft {
	0% {
	-webkit-transform: translateX(100%);
	transform: translateX(100%)
}
}
@-webkit-keyframes dmleft {
	0% {
	-webkit-transform: translateX(100%);
	transform: translateX(100%)
}
}
.danmu-warp {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	left: 0px;
	overflow: hidden;
}
.tp-send {
	display: none;
	position: absolute;
	bottom: 10%;
	left: 50%;
	width: 60%;
	height: 35px;
	border-radius: 5px;
	margin: 0 0 0 -30%;
	text-align: center;
	padding: 4px 0;
	background-color: rgba(255, 255, 255, 0.79);
	z-index: 6;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.tp-text {
	position: relative;
	top: -12px;
	width: 50%;
	display: inline-block;
	line-height: 20px;
	border: none;
	background-color: transparent;
	outline: none;
}
.tp-up {
	position: relative;
	display: inline-block;
	top: -13px;
	left: 20px;
	background-color: #8715EF;
	color: #fff;
	border: 0px solid #000;
	line-height: 20px;
	border-radius: 4px;
	padding: 3px 20px;
}
.tp-logo-small {
	width: 114px;
	height: 35px;
	display: inline-block;
}
.tp-video-main {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.tp-video {
	background-color: #000;
    position: absolute;
    left: 0px;
    top: 0px;
    min-width: 0px;
    max-width: none;
    min-height: 0px;
    max-height: none;
    width: 100%;
    height: 100%;
    display: block;
    transform: none;
    margin: 0px !important;
    flex: 1 1 0% !important;

}
.tp-video-con {
	opacity: 0;
	position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,.75),hsla(0,0%,100%,0));
	transition: opacity 1s;
	-moz-transition: opacity 1s;
	-webkit-transition: opacity 1s;
}
.tp-control {
	position: absolute;
	bottom: 0;
	padding-bottom: 10px;
	left: 0px;
	width: 100%;
	height: 45px;
	color: #fff;
	line-height: 0px;
	user-select: none;
	z-index: 888;
}
.tp-icon {
	position: relative;
	top: 6px;
	padding-left: 10px;
	padding-right: 2px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	fill: #fff;
}
.tp-danmu-switch {
	position: relative;
	display: inline-block;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 50%;
	width: 22px;
	height: 22px;
	line-height: 22px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}
.tp-danmu-switch-c {
	color: #000 !important;
	border: none !important;
	background-color: #fff;
}

.tp-vloop{
	display: inline-block;
    height: 25px;
    width: 25px;
    background-size: cover;
    transform: translateY(8px);
    cursor: pointer;
}
.tp-vloop1{
	background-image: url(img/vloop1.png)
}
.tp-vloop2{
	background-image: url(img/vloop2.png)
}
.tp-set{
	background-image: url(img/set.png);
	display: inline-block;
    height: 24px;
    width: 24px;
    margin: 0 14px;
    background-size: cover;
    transform: translateY(8px);
    cursor: pointer;
}
.tp-syk {
	padding: 10px 10px;
	position: relative;
	display: inline-block;
	color: #fff;
	top: -7px;
}
.tp-s-tranger {
  position: relative;
  height: 10px;
  width:80px;
  margin-left: 30px;
  top: 10px;
  background-color: rgba(142, 129, 129, 0.6);
  border-radius: 4px;
  cursor: pointer;
  overflow:hidden;
}
.tp-s-tranger-a {
  width: 10%;
  height: 100%;
  background-color: #e33d3d;
  border-radius: 4px 0 0 4px;
}
.tp-tranger {
	position: relative;
	height: 11px;
	background-color: rgba(0, 0, 0, 0.17);
	border-radius: 6px;
	cursor: pointer;
	overflow: hidden;
	margin-top: 18px;
	margin-left: 80px;
	margin-right: 170px;
}
.tp-tranger>.tp-tranger-a {
	position: relative;
	display: inline-block;
	background-color: rgb(248, 73, 73);
	height: 100%;
	width: 0;
	border-radius: 6px;
	z-index: 3;
}
.tp-tranger>.tp-tranger-b {
	position: relative;
	display: inline-block;
	background-color: #FFFFFF;
	height: 100%;
	width: 11px;
	border-radius: 50%;
	right: 16px;
	z-index: 5;
}
.tp-tranger>.tp-tranger-c {
	position: absolute;
	top: 0px;
	width: 0%;
	height: 100%;
	background-color: rgba(207, 198, 198, 0.47);
	border-radius: 6px;
	z-index: 2;
	overflow: hidden;
}
.tp-syk-ico {
	position: absolute;
	top: 22px;
	left:12px;
	font-size: 1.6em;
	cursor:default;
}

/*loding*/
.tp-oneplay {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 200px;
	height: 200px;
	z-index: 999;
}
.tp-spinner {
	margin: 100px auto;
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;
	position: absolute;
	top: 40%;
	left: 46%;
	z-index: 7;
	display: none;
}
.tp-suspend {
	-webkit-animation-play-state: paused !important;
	animation-play-state: paused !important;
}
.md-iframe {
	display: none;
}
.tp-place2 {
	background-color: #3b3b3b;
	margin: 2px 0 4px 0;
	color: #fff;
	cursor: pointer;
}
.tp-spinner > div {
	background-color: #fff;
	height: 100%;
	width: 6px;
	display: inline-block;
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.tp-spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}
.tp-spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}
.tp-spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}
.tp-spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% {
	-webkit-transform: scaleY(0.4)
}
20% {
	-webkit-transform: scaleY(1.0)
}
}
@keyframes sk-stretchdelay {
	0%, 40%, 100% {
	transform: scaleY(0.4);
	-webkit-transform: scaleY(0.4);
}
20% {
	transform: scaleY(1.0);
	-webkit-transform: scaleY(1.0);
}
}
.video-full {
	width: 20px;
	padding-right: 30px;
	top: 9px;
	position: relative;
	padding-left: 10px;
	height: 30px;
	cursor: pointer;
	fill: #fff;
}
:-webkit-full-screen .tp-video-main {
	height: 100% !important;
	width: 100% !important;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
:-moz-full-screen .tp-video-main {
	height: 100% !important;
	width: 100% !important;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
:-ms-fullscreen .tp-video-main {
	height: 100% !important;
	width: 100% !important;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
:-full-screen .tp-video-main {
	height: 100% !important;
	width: 100% !important;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
:fullscreen .tp-video-main {
	height: 100% !important;
	width: 100% !important;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.tp-con {
	position: absolute;
	top: -90px;
	display: none;
	width: 150px;
	margin: 0px auto;
	padding: 6px;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 6px;
	overflow: hidden;
}
.tp-color {
	display: inline-block;
	margin-right: 2px;
	border-radius: 4px;
	cursor: pointer;
}
.tp-color-warp {
	height: 60px;
	padding-right: 16px;
	overflow: overlay;
}
.tp-color-main {
	width: 20px;
	height: 20px;
	border: 1px solid #8b8585;
	border-radius: 2px;
}
.tp-color-bo {
	position: relative;
	bottom: 8px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #8b8585;
}
.tp-place {
	text-align: center;
	padding-bottom: 4px;
}
.tp-rightmenu {
	display: none;
	position: absolute;
	width: 130px;
	border: 1px solid #EEEEEE;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	z-index: 9999;
}
.tp-rightmenu a {
	color: #fff;
	text-decoration: none;
}
.tp-rightmenu li {
	padding: 2px 5px;
	cursor: pointer;
}
.tp-rightmenu li:hover {
	padding-left: 7px;
	background-color: rgba(255,255,255,0.2);
}
.tp-speend {
	display: none;
	margin: 4px 0 4px 30px;
}
.tp-copy-input{
    display: inline-block;
    width: 100%;
    height: 19px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0px;
    color: #fff;
    resize: none;
    font-size: 1em;
    cursor: pointer;
    font-family: Avenir Next,Helvetica,Arial,Lantinghei SC,Microsoft YaHei,sans-serif;
}
.tp-control-alltime-phone{
	display: none;
}
.tp-loding{
	padding: 20px 0 0 20px;
	color: #FFFFFF;
	position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    box-sizing: border-box;
}
.tp-img-back{
	position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);    
    filter: blur(10px);    
    z-index: 2;
    overflow: hidden;
}
.noflash-alert{
	display:none;
}
@media screen and (max-width: 700px) {
	.tp-tranger{
		position: absolute;
	    width: 97%;
	    bottom: 4px;
	    margin: 0;
	}
	.tp-video-con>.tp-send{
		bottom: 60px;
		left: initial;
		right: 10%;
    	width: 80%;
	}
	.tp-control-alltime{
		display: none;
	}
	.tp-control-alltime-phone{
		display: inline-block;
	}
}
/*animation*/
.tp-zoomoutdown{
	animation:zoomOutDown .5s;
	-webkit-animation:zoomOutDown .5s;
}
@keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  to {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}
@-webkit-keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  to {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}