/*acfun*/
.vdown {
    width: 110px;
    margin: 0;
    padding: 20px 10px;
    cursor: pointer;
    position: relative;
}

section.crumb .vdown .ico {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
}
section.player{
	position: relative;
	min-height:653px;
}
#vdown {
	position: absolute;
	z-index: 5;
	width: 300px;
	background: #fff;
	border: 1px solid #eee;
	border-radius: 5px;
	margin-left: -150px;
	left: 160px;
	padding: 20px 10px;
	box-shadow: 0 3px 8px rgba(0,0,0,0.1);
	background-color: #fff;
	overflow: hidden;
}
.down-btn, .down-btn>a {
	color: #fff;
	text-decoration: none;
}
.down-btn {
	display: inline-block;
	margin: 10px 5px;
	padding: 5px 10px;
	border-radius: 5px;
	background-color: #d07878;
	box-shadow: 1px 1px 5px #b5b5b5;
	text-align: center;
}
/*player*/
.tplayer{
	height: 100%;
	width: 100%;
}
.tp-video-warp p{
	margin: 0;
}
.tp-video-warp ul{
	margin: 0;
	padding: 0;
}
.tp-video-warp{
	font-size: 14px;
}
.video-end {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 8;
	background: #000 url(img/tdlogo.png) no-repeat right 40px bottom 30px;
	display: none;
	opacity: 1;
	animation: tpshow 3s;
	-webkit-animation:tpshow 3s;
}
@keyframes tpshow
{
	from {opacity: 0}
	to {opacity: 1}
}
@-webkit-keyframes tpshow
{
	from {opacity: 0}
	to {opacity: 1}
}
.video-end>.replay {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -50px;
	transition:transform 2s;
	-moz-transition:transform 2s;
	-webkit-transition:transform 2s;
}
.video-end>.replay:hover {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
}
.tp-video-main>.danmaku-warp>.danmaku {
	color: #fff;
	line-height: 37px;
	z-index: 6;
	padding: 0 4px;
	font-family: Avenir Next,Helvetica,Arial,Lantinghei SC,Microsoft YaHei,sans-serif;
}
.tp-left {
	position: absolute;
	will-change: transform;
	right: 0;
	font-size: 24px;
	animation: dmleft 10s linear;
	-webkit-animation: dmleft 10s linear;
	cursor: pointer;
	white-space: nowrap;
}
.tp-top {
	position: absolute;
    left: 50%;
    text-align: center;
    display: block;
    font-size: 22px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    white-space:nowrap;
}
.danmaku-ad{
	position: absolute;
	-webkit-transform: translateX(50%);
	-moz-transform: translateX(50%);
	transform: translateX(50%);
}
@keyframes dmleft {
	0% {
	-webkit-transform: translateX(100%);
	transform: translateX(100%)
}
}
@-webkit-keyframes dmleft {
	0% {
	-webkit-transform: translateX(100%);
	transform: translateX(100%)
}
}
.danmaku-warp {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transform-origin: top left;
	-moz-transform-origin:top left;
	-webkit-transform-origin:top left;
}
.tp-send {
	position: absolute;
	left: 50%;
	width: 60%;
	height: 35px;
	border-radius: 5px;
	margin: 0 0 0 -30%;
	text-align: center;
	padding: 4px 0;
	background-color: rgba(255, 255, 255, 0.79);
	z-index: 6;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.tp-text {
	width: 100%;
    line-height: 36px;
	border: none;
	text-align: center;
	background-color: transparent;
	outline: none;
}

.tp-up {
	display: none;
	position: relative;
	
	left: 20px;
	background-color: #8715EF;
	color: #fff;
	border: 0 solid #000;
	line-height: 20px;
	border-radius: 4px;
	padding: 3px 20px;
}

.tp-msg{
	position: absolute;
    bottom: 60px;
    right: 6px;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 6px 10px;
    z-index: 999;
    border-radius: 6px;
}
.tp-msg>.tp-msg-close{
	cursor: pointer;
    color: #000;
    font-weight: 600;
    font-size: 1.4em;
    line-height: 18px;
    padding-right: 8px;
   	font-size: 15px;
}
.tp-video-main {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	overflow:hidden;
}
.tp-video {
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: auto;
}
.tp-video-con {
	opacity: 0;
	position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,.75),hsla(0,0%,100%,0));
	transition: opacity 1s;
	-moz-transition: opacity 1s;
	-webkit-transition: opacity 1s;
}
.tp-video-con:hover{
	opacity: 1!important;
}
.tp-control {
	position: absolute;
	bottom: 0;
	padding-bottom: 10px;
	left: 0;
	width: 100%;
	height: 45px;
	color: #fff;
	line-height: 0;
	user-select: none;
	z-index: 888;
}
.tp-control-nowtime,.tp-control-alltime{
	cursor: default;
}
.tp-icon {
	position: relative;
	top: 6px;
	padding-left: 10px;
	padding-right: 2px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	fill: #fff;
}
.tp-definition{
	display: none;
}
.tp-danmaku-switch {
	position: relative;
	display: inline-block;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 50%;
	width: 22px;
	height: 22px;
	line-height: 22px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}
.tp-danmaku-switch-c {
	color: #000 !important;
	border: none !important;
	background-color: #fff;
}

.tp-vloop{
	display: inline-block;
    height: 25px;
    width: 25px;
    background-size: cover;
    transform: translateY(8px);
    cursor: pointer;
}
.tp-vloop1{
	background-image: url(img/vloop1.png)
}
.tp-vloop2{
	background-image: url(img/vloop2.png)
}
.tp-set{
	background-image: url(img/set.png);
	display: inline-block;
    height: 24px;
    width: 24px;
    margin: 0 14px;
    background-size: cover;
    transform: translateY(8px);
    cursor: pointer;
}
.tp-alert,.tp-video-set{
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    overflow: hidden;
    font-size: 14px;
}

.tp-video-set{
	width: 400px;
    height: 300px;
}


.tp-alert-ok{
	width: 50px;
	background-color: #e05865;
	color: #fff;
	padding: 4px 10px;
	border-radius: 5px;
    text-align: center;
	margin: 5px auto;
	cursor: pointer;
}
.tp-closeset{
	position:absolute;
	top: 0;
	right:0;
	padding:4px;
	cursor:pointer;
	color:#000;
	font-weight: 600;
	font-size: 1.4em;
}
.tp-alert-container{
	padding: 20px
}
.tp-alert-container .tp-screenshot-canvas{
	height: auto;
	width: 300px
}
.tp-settable{
	margin:0 auto;
	cursor:default;
}
.tp-video-set>h4{
	margin: 0 0 8px 0;
	padding: 10px 20px;
    background-color: rgb(243, 93, 93);
    color: #fff;
}
.tp-syk {
	padding: 10px 10px;
	position: relative;
	display: inline-block;
	color: #fff;
	top: -7px;
}
.tp-s-tranger {
  position: relative;
  height: 10px;
  width:80px;
  margin-left: 30px;
  top: 10px;
  background-color: rgba(142, 129, 129, 0.6);
  border-radius: 4px;
  cursor: pointer;
  overflow:hidden;
}
.tp-s-tranger>.tp-s-tranger-a {
  position: absolute;
  left: 0;
  top: 0;
  width: 10%;
  height: 100%;
  background-color: #e33d3d;
  border-radius: 4px 0 0 4px;
}
.tp-tranger {
	position: relative;
	height: 11px;
	background-color: rgba(0, 0, 0, 0.17);
	border-radius: 6px;
	cursor: pointer;
	overflow: hidden;
	margin-top: 18px;
	margin-left: 80px;
	margin-right: 170px;
}
.tp-tranger>.tp-tranger-a {
	position: relative;
	display: inline-block;
	background-color: rgb(248, 73, 73);
	height: 100%;
	width: 0;
	border-radius: 6px;
	z-index: 3;
}
.tp-tranger>.tp-tranger-b {
	position: relative;
	display: inline-block;
	background-color: #FFFFFF;
	height: 100%;
	width: 11px;
	border-radius: 50%;
	right: 16px;
	z-index: 5;
}
.tp-tranger>.tp-tranger-c {
	position: absolute;
	top: 0;
	width: 0%;
	height: 100%;
	background-color: rgba(207, 198, 198, 0.47);
	border-radius: 6px;
	z-index: 2;
	overflow: hidden;
}
.tp-syk-ico {
	position: absolute;
	top: 22px;
	left:12px;
	font-size: 1.6em;
	cursor:default;
}

/*loding*/
.tp-oneplay{
	width: 120px;
    height: 111px;
    z-index: 999;
    background-color: rgb(234, 62, 73);
    cursor: pointer;
    border-radius: 10px;
}
.tp-oneplay>svg{
	width: 100px;
    height: 100px;
    fill: #fff;
    margin-left: 10px;
}
.tp-acenter{
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.tp-spinner {
	width: 76px;
	height: 40px;
	z-index: 7;
	display: none;
}
.tp-suspend {
	-webkit-animation-play-state: paused !important;
	animation-play-state: paused !important;
}
.md-iframe {
	display: none;
}
.tp-place2 {
	background-color: #3b3b3b;
	margin: 2px 0 4px 0;
	color: #fff;
	cursor: pointer;
}
.tp-spinner > div {
	background-color: #fff;
	height: 100%;
	width: 6px;
	display: inline-block;
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
	border: 1px solid #dadada;
}
.tp-spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}
.tp-spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}
.tp-spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}
.tp-spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% {
	-webkit-transform: scaleY(0.4)
}
20% {
	-webkit-transform: scaleY(1.0)
}
}
@keyframes sk-stretchdelay {
	0%, 40%, 100% {
	transform: scaleY(0.4);
	-webkit-transform: scaleY(0.4);
}
20% {
	transform: scaleY(1.0);
	-webkit-transform: scaleY(1.0);
}
}
.video-full {
	width: 20px;
	padding-right: 30px;
	top: 9px;
	position: relative;
	padding-left: 10px;
	height: 30px;
	cursor: pointer;
	fill: #fff;
}
:-webkit-full-screen .tp-video-main {
	height: 100% !important;
	width: 100% !important;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
:-moz-full-screen .tp-video-main {
	height: 100% !important;
	width: 100% !important;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
:-ms-fullscreen .tp-video-main {
	height: 100% !important;
	width: 100% !important;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
:-full-screen .tp-video-main {
	height: 100% !important;
	width: 100% !important;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
:fullscreen .tp-video-main {
	height: 100% !important;
	width: 100% !important;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.tp-con {
	position: absolute;
	top: -90px;
	display: none;
	width: 150px;
	margin: 0 auto;
	padding: 6px;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 6px;
	overflow: hidden;
}
.tp-color {
	display: inline-block;
	position: absolute;
	top: 18px;
    right: 15px;
	border-radius: 4px;
	cursor: pointer;
	z-index: 7;
}
.tp-color-w{
	float: left;
}
.tp-color-warp {
	height: 60px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.tp-color-main {
	width: 20px;
	height: 20px;
	border: 1px solid #FFFFFF;
	border-radius: 2px;
}
.tp-color-bo {
	position: relative;
	bottom: 8px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #8b8585;
}
.tp-place {
	text-align: center;
	padding-bottom: 4px;
}
.tp-rightmenu {
	display: none;
	position: absolute;
	overflow: hidden;
	width: 130px;
	margin: 0;
	padding: 0;
	list-style: none;
	border-radius: 4px;
    background: rgba(28, 28, 28, 0.9);
    border: none;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px;
	color: #fff;
	z-index: 9999;
}
.tp-rightmenu a {
	color: #fff;
	text-decoration: none;
}
.tp-rightmenu li {
	padding: 2px 0 2px 8px;
	cursor: pointer;
}
.tp-rightmenu li:hover {
	padding-left: 7px;
	background-color: rgba(255,255,255,0.2);
}
.tp-search-user{
	display: none;
}
ul.tp-speend {
	display: none;
	margin: 4px 0 4px 30px;
}

.tp-copy-input{
    display: block;
    width: 100%;
    height: 19px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
    color: #fff;
    resize: none;
    cursor: pointer;
    font-size: 15px;
    line-height: 21px;
    overflow:hidden;
    font-family: Avenir Next,Helvetica,Arial,Lantinghei SC,Microsoft YaHei,sans-serif;
}
.tp-control-alltime-phone{
	display: none;
}
.tp-loding{
		position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
		left: 0;
		z-index: 20;
		
}
.tp-loding-img-warp{
	height: 120px;
	width: 120px;
	box-sizing: content-box;
	border: 8px solid rgba(200, 200, 200, 0.63);
	border-radius: 50%;
	animation:lodingborder 1s infinite alternate;
	-webkit-animation:lodingborder 1s infinite alternate;
	overflow: hidden;
}
	@keyframes lodingborder
	{
		to { border: 14px solid rgba(200, 200, 200, 0.63);}
	}
	@-webkit-keyframes lodingborder
	{
		to { border: 14px solid rgba(200, 200, 200, 0.63);}
	}
	.tp-loding-img{
		background-image: url(http://cdn.aixifan.com/dotnet/20130418/umeditor/dialogs/emotion/images/ac3/02.gif);
	   	width: 120px;
	   	height: 120px;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: 100px;
	    background-color: rgb(255, 255, 255);
	}
	.tp-loding-text{
		color: #ffffff;
		text-align: center;
		position: absolute;
		bottom: 30%;
		width: 100%
	}
.tp-img-back{
	position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);    
    filter: blur(10px);    
    z-index: 2;
    overflow: hidden;
}
.noflash-alert{
	display:none;
}
section.clearfix.wp.area.player {
    z-index: 99;
}
.off-light{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: #000;
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 700px) {
	.tp-tranger{
		position: absolute;
	    width: 97%;
	    bottom: 4px;
	    margin: 0;
	}
	.tp-video-con>.tp-send{
		bottom: 60px;
		left: initial;
		right: 10%;
    	width: 80%;
	}
	.tp-control-alltime{
		display: none;
	}
	.tp-control-alltime-phone{
		display: inline-block;
	}
}
/*animation*/
.tp-zoomoutdown{
	animation:zoomOutDown .5s;
	-webkit-animation:zoomOutDown .5s;
}
@keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  to {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}
@-webkit-keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  to {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}
.tp-zoomoutup{
	animation:zoomInUp .5s;
	-webkit-animation:zoomInUp .5s;
}
@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}
@-webkit-keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}
@media screen and (max-width: 470px) {
	.tp-syk{
		display: none;
	}
}